main {
  margin: 18px auto;
  max-width: 500px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  font-size: 18px;
}

.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
